﻿@model _2C2P_Dev.Models.ModelForPayment
@{
    ViewData["Title"] = "Redirect";
}

<form id="myform" method="post" action="@Model.RequestModel.payment_url">
    <input type="hidden" name="version" value="@Model.RequestModel.Version" />
    <input type="hidden" name="merchant_id" value="@Model.RequestModel.MerchantId" />
    <input type="hidden" name="currency" value="@Model.RequestModel.CurrencyCode" />
    <input type="hidden" name="result_url_1" value="@Model.RequestModel.result_url_1" />
    <input type="hidden" name="hash_value" value="@Model.RequestModel.HashValue" />
    PRODUCT INFO : <input type="text" name="payment_description" value="@Model.RequestModel.PaymentDescription" readonly /><br />
    ORDER NO : <input type="text" name="order_id" value="@Model.RequestModel.UniqueTransactionCode" readonly /><br />
    AMOUNT: <input type="text" name="amount" value="@Model.RequestModel.Amount" readonly /><br />
    PAYMENT OPTION: <input type="text" name="payment_option" value="@Model.RequestModel.PaymentOption" readonly /><br />
    
    <input type="submit" name="submit" value="Confirm" />
</form>

<script type="text/javascript">
		document.forms.myform.submit();
</script>