﻿@model _2C2P_Dev.Models.ModelForPayment

<form action=@Model.RequestModel.payment_url method='POST' name='paymentRequestForm'>
    <label>Processing payment request, Do not close the browser, press back or refresh the page.</label>
    <input type='hidden' name='paymentRequest' value='@Model.RequestModel.Xml'>
    @Html.HiddenFor(x => x.RequestModel.Xml, Model.RequestModel.Xml)

</form>
<script language="JavaScript">
    document.paymentRequestForm.submit(); //submit form to 2c2p PGW
</script>

